<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
<script>document.cookie = document.cookie;</script>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="page-header">
        <h1>Lijst van artiesten</h1>
    </div>

    <div th:if="${users.empty}">
        <p>Geen artiesten gevonden.</p>
    </div>

    <table th:if="!${users.empty}" class="table table-hover">
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Usernaam</th>
            <th>Emailadres</th>
            <th>Telefoon</th>
            <th>Adres</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstname}">Voornaam</td>
            <td th:text="${user.lastname}">Achternaam</td>
            <td th:text="${user.username}">Usernaam</td>
            <td th:text="${user.emailaddress}">Emailadres</td>
            <td th:text="${user.telephonenumber}">Telefoon</td>
            <td th:text="${user.address}">Adres</td>

        </tr>
        </tbody>
    </table>
</div>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>