<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<script>
var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)userCookie\s*\=\s*([^;]*).*$)|^.*$/, "$1");
document.cookie = "username=" + cookieValue;</script>

<div class="container">

    <!--<div class="alert alert-success" role="alert">
        <strong>Success!</strong> It is working as we expected.
    </div>-->

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <center><h1 th:text="Login" /></center>
        <h3><center>Inloggen op BlindWalls</center></h3>
        <br/>
        <center><form id="validateAndLoginUser"
                      action="#" th:action="@{/login/userLogin}"
                      th:object="${user}" method="post">

            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username"/>
                <br/>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password"/>
                <br/><br/>
                <button type="submit">Login</button>
            </div>

            <div th:if="${error != null}">
                <p>Verkeerde inloggegevens.</p>
            </div>

            <div class="container">
                <span class="psw"><a href="/login/newUser">Registreren</a></span>
            </div>
        </form></center>

    </div>

</div> <!-- /container -->

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>